.cover {
  position:relative;
  width:200px;
  height:200px;
  margin:auto;

  img {
    background: url(@alb_background_image) 5px 5px no-repeat;
    background-size:190px 190px;
    background-color: @alb_background_color;
    padding:5px;
    width:190px;
    height:190px;
    z-index:100;
    position:absolute;
    right:-10px;
  }
}
